<launch>

# Rviz
<node pkg="rviz" type="rviz" name="rviz" args="-d $(find aerial_mapper_demos)/rviz/dense_pcl.rviz"/>

# Dense point cloud generation
<arg name="flagfile" default="$(find aerial_mapper_demos)/flags/0-synthetic-cadastre-dense-pcl.ff" />
<node pkg="aerial_mapper_demos" type="aerial_mapper_demos_dense_pcl" name="demo_dense" output="screen" args="--flagfile=$(arg flagfile)" />

</launch> 
